# Copyright (c) 2021-2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TRACKBALL_HS

config ZMK_KEYBOARD_NAME
    default "Trackball-hs"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif
